.third-article {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  flex-direction: column;
  padding: 30px;

}
.quotes-container{
  min-width: 255px;
  max-width: 500px;
  max-height: 400px;
  min-height: 225px;
}
#random-phrase {
  margin: 1px auto;
  padding: 15px;
  font-size: 1.3em;
  font-style: italic;
  border: 1px solid #ddd;
}

#random-phrase #phrase {
  text-align: left;
}

#random-phrase #author {
  text-align: right;
}

#next-quote {
  margin-top: 20px;
  font-size: 12px;
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.third-article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  color: black;
  padding-top: 30px;
  
}

.copy {
  position: absolute;
  bottom: calc(var(--index) );
  color: black;
}

.grid-gallery {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
  

}

.grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}

.grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}

.grid-gallery .grid-item a {
  cursor: zoom-in;
}

.grid-gallery .grid-item:nth-child(3n - 2) {
  grid-column: span 2;
  grid-row: span 2;
}

/* Let's make it responsive */
@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .grid-gallery .grid-item:nth-child(3n - 2) {
    grid-column: unset;
    grid-row: unset;
  }
}